body{
            background: linear-gradient(135deg, #9c669b, #6A66A3);
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        #Title{
            border-radius:20px;
            background-color: #F4AFAB;
            height:100px;
            color: #6A66A3;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            margin-inline:110px;
            }
        #welcome_message{
        color:  #6A66A3;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4CBC6;
        margin-top: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-inline: 320px;
        height:50px
        }
        #container{
            margin-top:100px;
            display:flex;
            justify-content: center; 
            align-items: center;
              
        }
        #t{
            text-align: center;
            position:relative;
            color:#864385;
            font-weight: bold;
            font-size:24px;
        }
        .box{
            height:600px;
            width:450px;
            background: #F4AFAB;
            border-radius:30px;
            /* display: flex;
            flex-direction: column;             
            justify-content: center;
            align-items: center; */ 

        }
        input[type="number"] {
            width: 70%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            width:300px;
        }
       #submit{
        width:200px;
        height:80px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0 120px;
        transition: 0.7s;
        background:#864385;
        color:#F4CBC6;
        font-size:17px;
        cursor:pointer;
       }
       #submit:hover{
        background:#F4CBC6;
        color:#864385;
       }
       #btn-parent{
        margin-top:120px;
        display:flex;
        justify-content: center;
        align-items: center;
       }
       form{
         display:flex;
         flex-direction:column;
         align-items:center;
       }